@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nanum Myeongjo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css?family=Dancing+Script");
}

@layer base {
  * {
    font-family: "Pretendard-Regular";
    color: #808080;
  }
}
@layer components {
  .base_layout {
    @apply h-screen;
  }

  .base_button {
    @apply p-2 border border-red-50 rounded-xl active:shadow-inner hover:bg-purple-200 hover:text-white bg-purple-400 text-white;
  }

  .gray_button {
    @apply p-2 border rounded-xl active:shadow-inner hover:bg-gray-100 hover:text-gray-300 bg-gray-300 text-white;
  }

  .sign_button {
    @apply p-2 border rounded-xl active:shadow-inner hover:bg-gray-100 text-gray-500  hover:text-gray-400;
  }

  input {
    @apply p-2 border rounded-xl outline-none;
  }

  .edit_input {
    @apply border rounded-xl outline-none w-full;
  }
}

.checkIcon {
  position: absolute;
  font-size: 25px;
  color: rgb(203, 159, 225);
}

.checkContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  font-weight: bold;
  color: rgb(197, 168, 212);
  opacity: 0.7;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fffbfb;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 249, 249);
  border-radius: 5px;
  background: linear-gradient(45deg, rgb(255, 232, 231), rgb(251, 240, 240));
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 223, 222);
}
