@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Nanum Myeongjo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css?family=Dancing+Script");
}

@layer base {
  * {
    font-family: "Pretendard-Regular";
    color: gray;
  }
}
@layer components {
  .base_layout {
    @apply h-screen;
  }

  .base_button {
    @apply p-2 border rounded-xl active:shadow-inner;
  }

  input {
    @apply p-2 border rounded-xl outline-none;
  }
}
